<!-- Announcement Banner -->
<div class="bg-dark text-white py-2">
    <div class="container">
        <div class="text-center">
            <p class="mb-0">Sign up and get 20% off your first order.
                <a class="text-white" href="/auth/register.html">Sign Up Now</a>
            </p>
        </div>
    </div>
</div>
